flows.json
[
    {
        "id": "87bb58aa769e9918",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0e5d882241d3d66",
        "type": "inject",
        "z": "87bb58aa769e9918",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "G7",
                "v": "Hola G7",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "ca7f5d90f17a2f0c",
                "dc322bce6bdb836e"
            ]
        ]
    },
    {
        "id": "c80995931edf0d29",
        "type": "debug",
        "z": "87bb58aa769e9918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "ca7f5d90f17a2f0c",
        "type": "function",
        "z": "87bb58aa769e9918",
        "name": "",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "c80995931edf0d29",
                "2b99532c054eba97"
            ]
        ]
    },
    {
        "id": "2b99532c054eba97",
        "type": "ui_text",
        "z": "87bb58aa769e9918",
        "group": "7b88cceeb39435a1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha - Label",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "dc322bce6bdb836e",
        "type": "debug",
        "z": "87bb58aa769e9918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 200,
        "wires": []
    },
    {
        "id": "7b88cceeb39435a1",
        "type": "ui_group",
        "name": "Fecha - Group",
        "tab": "38dd7de790a94dfe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38dd7de790a94dfe",
        "type": "ui_tab",
        "name": "Fecha - Tab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]